/* Links */
.rst-content .toctree-wrapper a:visited {
    color: #2980b9;
}

.rst-content .toctree-wrapper a:hover {
    color: #3091d1;
}

/* Remove margin of sub-lists */
.rst-content .toctree-wrapper .toctree-l1 ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Add margin to first-level lists */
.rst-content .toctree-wrapper .toctree-l1 {
    margin-bottom: 12px;
}

/* Bold font for first-level lists */
.rst-content .toctree-l1>a {
    font-weight: bold;
}

/* Fix margin-left for sub-lists */
.rst-content .toctree-wrapper .toctree-l2 {
    margin-left: 17px;
}

.rst-content .toctree-wrapper .toctree-l3 {
    margin-left: 31px;
}

/* Remove bullet points */
.rst-content .toctree-wrapper ul li,
.rst-content .toctree-wrapper ul li li,
.rst-content .toctree-wrapper ul li li li {
    list-style: none;
}
